{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
{% endblock %}

{% block content %}

<div class="splash-container">

    <div class="overlay"></div>

    <div class="content">

        <img src="{{ url_for('static', filename='images/logo/logo.png') }}"
             class="logo"
             alt="MemoryVerse Logo">

        <h1>MemoryVerse</h1>

        <p>Capture Today, Treasure Tomorrow</p>

        <div class="loader"></div>

    </div>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/splash.js') }}"></script>
{% endblock %}